<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="sqlConnectionString" value="Data Source = Glados\SQLExpress; Initial Catalog = Recipes; Integrated Security = true" />
    <add key="load_ingredients_query" value="select INGREDIENT_NAME, QUANTITY, QUANTITY_TYPE from Recipe_Ingredients where RECIPE_NAME = '{0}' or RECIPE_NAME in (select sub_recipe_name from Recipe_Subrecipes where RECIPE_NAME = '{0}')" />
    <add key="get_popular_recipes_query" value="select top 10 RECIPE_NAME from Recipe_Access order by ACCESS_TIMESTAMP desc" />
    <add key="get_recipes_by_category_query" value="select Recipe_Names.RECIPE_NAME from Recipe_Names join Recipe_Class on Recipe_Names.RECIPE_NAME = Recipe_Class.RECIPE_NAME left join Recipe_Access on Recipe_Names.RECIPE_NAME = Recipe_Access.RECIPE_NAME where Recipe_Class.RECIPE_CATEGORY = '{0}' order by ACCESS_TIMESTAMP desc" />
    <add key="insert_recipe_name_query" value="insert into Recipe_Names values ('{0}')" />
    <add key="insert_subrecipe_query" value="insert into Recipe_Subrecipes values ('{0}','{1}')" />
    <add key="set_recipe_type_query" value="insert into Recipe_Class values('{0}','{1}')" />
    <add key="insert_recipe_ingredient_no_unit_query" value="insert into Recipe_Ingredients values('{0}','{1}','{2}', NULL)" />
    <add key="insert_recipe_ingredient_query" value="insert into Recipe_Ingredients values('{0}','{1}','{2}', '{3}')" />
    <add key="insert_recipe_direction_query" value="insert into Recipe_Directions values('{0}','{1}','{2}')" />
    <add key="get_unit_types_query" value="select distinct QUANTITY_TYPE from Recipe_Ingredients where QUANTITY_TYPE is not null" />
    <add key="get_recipe_names_query" value="select Recipe_Name from Recipe_Names" />
    <add key="get_recipe_categories_query" value="select * from Recipe_Categories" />
    <add key="update_recipe_access_time_query" value="insert into Recipe_Access values('{0}', '{1}')" />
    <add key="update_recipe_access_time_query_2" value="update Recipe_Access set ACCESS_TIMESTAMP = '{0}' where RECIPE_NAME = '{1}'" />
    <add key="load_directions_query" value="select * from Recipe_Directions where RECIPE_NAME = '{0}' or RECIPE_NAME in (select sub_recipe_name from Recipe_Subrecipes where RECIPE_NAME = '{0}')" />
    <add key="delete_recipe_query_1" value="delete from Recipe_Ingredients where RECIPE_NAME = '{0}'" />
    <add key="delete_recipe_query_2" value="delete from Recipe_Directions where RECIPE_NAME = '{0}'" />
    <add key="delete_recipe_query_3" value="delete from Recipe_Subrecipes where RECIPE_NAME = '{0}'" />
    <add key="delete_recipe_query_4" value="delete from Recipe_Access where RECIPE_NAME = '{0}'" />
    <add key="delete_recipe_query_5" value="delete from Recipe_Class where RECIPE_NAME = '{0}'" />
    <add key="delete_recipe_query_6" value="delete from Recipe_Names where RECIPE_NAME = '{0}'" />
    <add key="delete_recipe_query_7" value="delete from Recipe_Images where RECIPE_NAME = '{0}'" />
    <add key="search_by_name_query" value="select * from Recipe_Names where RECIPE_NAME like '%{0}%'" />
    <add key="recipe_images_directory" value="d:/inetpub/wwwroot/coulter_family_recipes/Recipe_Images" />
    <add key="add_recipe_image_query" value="insert into Recipe_Images values ('{0}', '{1}')" />
    <add key="update_recipe_image_query" value="update Recipe_Images set IMAGE_FILE_PATH = '{0}' where Recipe_Name = '{1}'" />
    <add key="get_recipe_image_query" value="select image_file_path from recipe_images where recipe_name = '{0}'" />
  </appSettings>
</configuration>
<!--ProjectGuid: 6540f471-db63-45ee-bf89-b46a7b465b8a-->