@font-face {
    font-family: 'Sansation';
    src: url('fonts/SansationRegular.eot');
    src: url('fonts/SansationRegular.eot?#iefix') format('embedded-opentype'), url('fonts/SansationRegular.woff') format('woff'), url('fonts/SansationRegular.svg#SansationRegular') format('svg');
}

body {
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

#title_bar {
    padding: 20px;
    width: 100%;
    background-color: #001f3f;
    color: #7FDBFF;
}

#recipe_name_div {
    padding: 20px;
}

#parent_recipe_name_div {
    padding: 0px 20px 20px 20px;
}

#recipe_type_div {
    padding: 0px 20px 20px 20px;
}

input:focus, textarea {
    outline: none !important;
}

select:focus{
    outline: none !important;
}

button:focus
{
    outline:none !important;
}

.add_recipe_input {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    width: 50%;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.add_recipe_drop_down {
    float: unset;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #001f3f;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

#home_button{
    float:right;
    height: 20px;
    display: inline-block;
    vertical-align:middle;
    margin: 0px 30px 0px 0px;
}

#ingredients_div {
    padding: 0px 20px 20px 20px;
}

#add_ingredients_button {
    height: 30px;
    padding-left: 10px;
    vertical-align: middle;
}

.add_ingredient_quantity_input {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 100px;
    width: 10%;
    margin-left: 10px;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.add_ingredient_unit_drop_down {
    width: 10%;
    border-radius: 100px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #001f3f;
    margin-bottom: 5px;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

#directions_div {
    padding: 0px 20px 20px 20px;
}

#add_directions_button {
    height: 30px;
    padding-left: 10px;
    vertical-align: middle;
}

.add_ingredient_input {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    width: 50%;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.add_direction_input {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    width: 50%;
    margin-bottom: 5px;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.step_numbers
{
    margin-left: 10px;
    margin-right: 10px;
}

#submission_div
{
    width: 100%;
    margin: 20px;
}

#add_recipe_button {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    background-color: #001f3f;
    color: #7FDBFF;
    width: 10%;
    float: right;
    margin-right: 50%;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}