@font-face {
    font-family: 'Sansation';
    src: url('fonts/SansationRegular.eot');
    src: url('fonts/SansationRegular.eot?#iefix') format('embedded-opentype'), url('fonts/SansationRegular.woff') format('woff'), url('fonts/SansationRegular.svg#SansationRegular') format('svg');
}

body {
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

#title_bar {
    padding: 20px;
    width: 100%;
    background-color: #001f3f;
    color: #7FDBFF;
}

#recipe_name_div {
    padding: 20px;
}

#recipe_type_div {
    padding: 0px 20px 20px 20px;
}

input:focus, textarea {
    outline: none !important;
}

select:focus{
    outline: none !important;
}

.add_recipe_input {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    width: 50%;
}

.add_recipe_drop_down {
    float: unset;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #001f3f;
}

#home_button{
    float:right;
    height: 20px;
    display: inline-block;
    vertical-align:middle;
    margin: 0px 30px 0px 0px;
}
