@font-face {
    font-family: 'Sansation';
    src: url('fonts/SansationRegular.eot');
    src: url('fonts/SansationRegular.eot?#iefix') format('embedded-opentype'), url('fonts/SansationRegular.woff') format('woff'), url('fonts/SansationRegular.svg#SansationRegular') format('svg');
}

body {
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

#title_bar
{
    width: 100%;
    float: left;
    position: absolute;
    vertical-align: middle;
}

#page_title {
    float: left;
    padding: 20px;
    background-color: #001f3f;
    color: #7FDBFF;
    width: 20%;
}

.category_name {
    width: 8%;
    float: left;
    background-color: #001f3f;
    padding: 20px;
    color: #7FDBFF;
}

#recipe_list
{
    padding-left: 20px;
}

.recipe_list_title {
    color: #001f3f;
}

.recipe_name {
    border-left: 10px solid #3D9970;
    padding: 10px;
}

#plus_icon
{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
}

#search_bar
{
    margin-left: 15px;
}

#search_icon
{
    vertical-align: middle;
    height: 20px;
    margin-left: 3px;
}

#search_input {
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 25px;
    width: 250px;
    padding-left: 5px;
    border-radius: 20px;
    border: 2px solid #001f3f;
}

#search_input:focus{
    outline-width: 0;
}