@font-face {
    font-family: 'Sansation';
    src: url('fonts/SansationRegular.eot');
    src: url('fonts/SansationRegular.eot?#iefix') format('embedded-opentype'), url('fonts/SansationRegular.woff') format('woff'), url('fonts/SansationRegular.svg#SansationRegular') format('svg');
}

body {
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

#title_bar {
    padding: 20px;
    width: 100%;
    background-color: #001f3f;
    color: #7FDBFF;
}

#home_button {
    float: right;
    height: 20px;
    vertical-align: middle;
    margin: 0px 30px 0px 0px;
}

#printer_button {
    height: 20px;
    vertical-align: middle;
    margin: 0px 0px 0px 20px;
}

#delete_button {
    height: 25px;
    vertical-align: middle;
    margin: 0px 0px 0px 20px;
}

#camera_button {
    height: 25px;
    vertical-align: middle;
    margin: 0px 0px 0px 20px;
}

#ingredients_list
{
    margin: 20px;
    padding: 15px;
    border: 4px solid #001f3f;
    border-radius: 20px;
    overflow:hidden;
    position: relative;
}

#directions_list {
    margin: 20px;
    padding: 15px;
    border: 4px solid #001f3f;
    border-radius: 20px;
}

#ingredients_header {
    color: #001f3f;
    font-size: 20px;
}

#ingredients_table {
    margin-left: 20px;
}

.ingredients_table_cell {
    padding: 10px;
    color: #001f3f;
}

.directions_table_cell {
    padding: 10px;
    color: #001f3f;
}

.directions_table {
    margin-left: 20px;
}

.directions_header {
    color: #001f3f;
    font-size: 20px;
}

#add_recipe_image_div {
    margin: 20px;
    padding: 15px;
    border: 4px solid #001f3f;
    border-radius: 20px;
    display: none;
}

#file_selector {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    background-color: #001f3f;
    color: #7FDBFF;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

#upload_image_submit {
    padding: 10px;
    border: 1px solid #001f3f;
    border-radius: 20px;
    background-color: #001f3f;
    color: #7FDBFF;
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

#recipe_image
{
    position:absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 40%;
}