@font-face {
    font-family: 'Sansation';
    src: url('fonts/SansationRegular.eot');
    src: url('fonts/SansationRegular.eot?#iefix') format('embedded-opentype'), url('fonts/SansationRegular.woff') format('woff'), url('fonts/SansationRegular.svg#SansationRegular') format('svg');
}

body {
    font-family: 'Sansation', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

#title_bar {
    padding: 20px;
    width: 100%;
    background-color: #001f3f;
    color: #7FDBFF;
}

#home_button {
    float: right;
    height: 20px;
    vertical-align: middle;
    margin: 0px 30px 0px 0px;
}

#ingredients_list
{
    margin: 20px;
    padding: 20px;
    border: 1px solid #001f3f;
}